# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/

# Package and build files
build/
dist/
*.egg-info/

# Database
*.sqlite3
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
